body {
  background-color: #d4f7aa;
  /* background-image: linear-gradient(#721111,#368e11); */
  background-repeat: no-repeat;
  background-size: auto;
}


h1 {
  font-family: sans-serif;
  background: linear-gradient( #ed0215, #0234fc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
text-align: center;
}
